:root {
  --content-w-h: 500px;
  --boy-radius: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
  height: 100vh;
}
/*!Global disposition*/
/** Display flex aic jcc*/
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
/** round element*/
.br-round {
  border-radius: 50%;
}
/*! screen */
.container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/*! table */
.content {
  width: var(--content-w-h);
  height: var(--content-w-h);
  display: grid;
  grid-template: "l r" 1fr;
  grid-template-columns: calc(var(--content-w-h) / 2);
  padding: 5px;
}
/*!drawer */
.drawer {
  border: 1px solid black;
  grid-area: l;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: row-reverse;
}
/**just wood */
.fix-part {
  width: 10%;
  height: 90%;
  background: rgb(171, 171, 171);
}
/**musics */
.content-part {
  width: 85%;
  height: 90%;
  background: rgb(152, 111, 111);
}
/*!gameboy part */
.boy {
  border: 1px solid black;
  grid-area: r;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/** all content */
.game {
  border: 1px solid black;
  margin: 2px;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--boy-radius);
}
/** specificly screen */
.screen {
  border: 1px solid black;
  width: 80%;
  height: 45%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: column;
  position: relative;
  border-radius: var(--boy-radius);
}
.screen canvas {
  border: 1px solid black;
  width: 90%;
  height: 80%;
}
.screen::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid red;
  background: salmon;
  top: 50px;
  left: 1px;
}

/** btns part */
.down {
  /* border: 1px solid black; */
  width: 80%;
  height: 45%;
}
/** cross, play , pause */
.part-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
}
/**cross*/
.cross {
}
.grid-cross {
  display: grid;
  grid-template:
    ". plus ." 1fr
    "before . next" 1fr
    ". minus ." 1fr;
  height: inherit;
  width: inherit;
}
.btn-cross {
  list-style: none;
  /* width: 10px;
  height: 10px; */
  border: 2px solid black;
  transform: scale(1);
  transition: transform 1s ease;
}
.btn-cross:hover {
  transform: scale(0.9);
}
.btn-cross button {
  border: 1px solid transparent;
  background: transparent;
}
.btn-cross button:hover {
  cursor: pointer;
}
.plus {
  grid-area: plus;
  border-bottom: 1px solid transparent;
}
.minus {
  grid-area: minus;
  border-top: 1px solid transparent;
}
.before {
  grid-area: before;
  border-right: 1px solid transparent;
}
.next {
  grid-area: next;
  border-left: 1px solid transparent;
}

/** btns*/
.play {
  /* border-radius: 50%; */
}
.play button,
.pause button {
  border: 1px solid transparent;
  width: inherit;
  height: inherit;
  transform: scale(1);
  transition: transform 1s ease;
}
.play button:hover,
.pause button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.pause {
  /* border-radius: 50%; */
}
.btn-top {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
}
/*! bot-btns*/
/** select, stop */
.part-bot {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50%;
  position: relative;
}
.select {
}
.stop {
}
.btn-bot {
  width: 30%;
  height: 20%;
  /* border: 1px solid black; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.btn-bot button {
  border: 1px solid black;
  /* padding: 3px; */
  border-radius: 5px;
  width: 50px;
  height: 17px;
  background: transparent;
  transform: scale(1);
  transition: transform 1s ease, border-width 1s ease-in;
}
.btn-bot button:hover {
  transform: scale(0.9);
  border-width: 3px;
}
.btn-bot span {
  text-align: center;
}
/**Sound*/
.sound {
  /* width: 40px;
  height: 40px; */
  /* border: 1px solid black; */
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: grid;
  grid-template:
    " . . . " 10px
    " a . b " 10px
    " . c . " 10px
    " d . e " 10px
    " . . . " 10px;
  grid-template-columns: 10px;
  text-align: center;
}
.sound i:nth-child(n + 1) {
  transform: scale(0.5);
}
.sound i:first-child {
  grid-area: a;
}
.sound i:nth-child(2) {
  grid-area: b;
}
.sound i:nth-child(3) {
  grid-area: c;
}
.sound i:nth-child(4) {
  grid-area: d;
}
.sound i:nth-child(5) {
  grid-area: e;
}
