:root {
  --content-w-h: 1200px;
  --boy-radius: 15px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* background: red; */
  height: 100vh;
}
/*!Global disposition*/
/** Display flex aic jcc*/
.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
/** round element*/
.br-round {
  border-radius: 50%;
}
/*! screen */
.container {
  margin-bottom: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
/*! table */
.content {
  width: var(--content-w-h);
  height: calc(var(--content-w-h) / 1.7);
  display: grid;
  grid-template: "l r" 1fr;
  grid-template-columns: calc(var(--content-w-h) / 2);
  padding: 5px;
}
/*!drawer */
.drawer {
  border: 1px solid black;
  border-right: 1px solid transparent;
  grid-area: l;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  flex-direction: row-reverse;
}
/**just wood */
.fix-part {
  width: 50px;
  height: 620px;
  /* background: rgb(171, 171, 171); */
  border: 1px solid black;
  border-radius: 5px;
}
/**musics */
.content-part {
  width: 540px;
  height: 580px;
  background: rgb(152, 111, 111);
  position: relative;
  border-radius: 20px;
}
/**borders*/
.content-part-border {
  border: 1px solid black;
  display: flex;
}
.cpb-top {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
}
.cpb-left {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0px;
}
.cpb-right {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
}
.cpb-bot {
  width: 30px;
  height: 100%;
  position: absolute;
  left: 0;
}
.cpb-bg {
  background: white;
  border-radius: 5px;
}
/*!Cards*/
.cpb-mid {
  display: flex;
  flex-wrap: wrap;
  /* background: hsla(0, 0%, 0%, 0.5); */
  width: 540px;
  height: 580px;
  border-radius: 5px;
  padding: 50px 50px 50px 25px;
}
/**Card*/
.card {
  background: white;
  /* width: 150px;
  height: 175px; */
  width: 190px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: transform 1s ease;
}
.card:hover {
  background: lightgray;
  transform: scale(1.01);
}
.card-top {
  height: 15%;
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}
.ct {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ct p {
  border: 1px solid black;
}
.ct-left {
  width: 10%;
  height: 100%;
}
.ct-mid {
  width: 80%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 50%));
}
.ct-right {
  width: 10%;
  height: 100%;
}

.card-mid {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(./img/img-cards/conso.jpg) center/cover;
}
.card-mid span {
  text-align: center;
  width: 100%;
  color: white;
  background: hsla(0, 0%, 0%, 0.75);
}
.card-bot {
  height: 15%;
  width: 100%;
}
.play-card {
  position: relative;
  transform: translate(3px) scale(1.5);
}
.play-white {
  position: absolute;
  color: white;
  transform: translateX(0px) scale(0.8);
}
/*!gameboy part */
.boy {
  border: 1px solid black;
  border-left: 1px solid transparent;
  grid-area: r;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
/** all content */
.game {
  border: 1px solid black;
  margin: 2px;
  width: 400px;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: var(--boy-radius);
}
/** specificly screen */
.screen {
  border: 1px solid black;
  width: 350px;
  height: 340px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: var(--boy-radius);
}
.screen canvas {
  border: 1px solid black;
  /* width: 90%;
  height: 80%; */
  width: 260px;
  height: 260px;
}
.screen::before {
  position: absolute;
  content: "";
  /* width: 5px;
  height: 5px; */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid red;
  background: salmon;
  /* top: 50px;
  left: 5px; */
  top: 80px;
  left: 15px;
}

/** btns part */
.down {
  /* border: 1px solid black; */
  width: 80%;
  height: 35%;
}
/** cross, play , pause */
.part-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50%;
}
/**cross*/
.cross {
  width: 150px;
  height: 150px;
}
.grid-cross {
  display: grid;
  grid-template:
    ". plus ." 1fr
    "before . next" 1fr
    ". minus ." 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 2fr 1fr 2fr;
  height: inherit;
  width: inherit;
}
.btn-cross {
  list-style: none;
  /* width: 10px;
  height: 10px; */
  border: 2px solid black;
  transform: scale(1);
  transition: transform 1s ease, border 1s ease;
}
.btn-cross:hover {
  transform: scale(0.9);
  border: ;
}
.btn-cross button {
  border: 1px solid transparent;
  background: transparent;
}
.btn-cross button i {
  transform: scale(1.35);
}
.btn-cross button:hover {
  cursor: pointer;
}
.plus {
  grid-area: plus;
  border-bottom: 1px solid transparent;
}
.minus {
  grid-area: minus;
  border-top: 1px solid transparent;
}
.before {
  grid-area: before;
  border-right: 1px solid transparent;
}
.next {
  grid-area: next;
  border-left: 1px solid transparent;
}

/** btns*/
.right-btns-part {
  display: flex;
}
.play {
  /* border-radius: 50%; */
  transform: translate(5px, -20px);
}
.play button,
.pause button {
  border: 1px solid transparent;
  width: inherit;
  height: inherit;
  transform: scale(1);
  transition: transform 1s ease;
}
.play button i {
  transform: translate(3px, 2px) scale(3);
}
.pause button i {
  transform: translate(0px, 2px) scale(3);
}

.play button:hover,
.pause button:hover {
  cursor: pointer;
  transform: scale(0.9);
}
.pause {
  /* border-radius: 50%; */
  transform: translate(-10px, 10px);
}
.btn-top {
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
}
.btn-top-right {
  width: 50px;
  height: 50px;
}
/*! bot-btns*/
/** select, stop */
.part-bot {
  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  height: 50%;
  position: relative;
}
.select {
}
.stop {
}
.btn-bot {
  width: 30%;
  height: 20%;
  /* border: 1px solid black; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.btn-bot button {
  border: 1px solid black;
  /* padding: 3px; */
  border-radius: 5px;
  /* width: 50px;
  height: 17px; */
  width: 60px;
  height: 15px;
  background: transparent;
  transform: scale(1);
  transition: transform 1s ease, border-width 1s ease-in;
}
.btn-bot button:hover {
  transform: scale(0.9);
  border-width: 3px;
}
.btn-bot span {
  text-align: center;
  text-transform: uppercase;
}
/**Sound*/
.sound {
  /* width: 40px;
  height: 40px; */
  /* border: 1px solid black; */
  position: absolute;
  bottom: -10px;
  right: -10px;
  display: grid;
  grid-template:
    " . . . " 10px
    " a . b " 10px
    " . c . " 10px
    " d . e " 10px
    " . . . " 10px;
  grid-template-columns: 10px;
  text-align: center;
}
.sound i:nth-child(n + 1) {
  transform: scale(0.5);
}
.sound i:first-child {
  grid-area: a;
}
.sound i:nth-child(2) {
  grid-area: b;
}
.sound i:nth-child(3) {
  grid-area: c;
}
.sound i:nth-child(4) {
  grid-area: d;
}
.sound i:nth-child(5) {
  grid-area: e;
}
@media screen and (max-width: 1279px) {
  .content {
    grid-template-areas: "r" "l";
    width: auto;
  }
  .fix-part {
    width: 620px;
    height: 50px;
  }
  .drawer {
    /* transform: rotate(-90deg); */
    flex-direction: column;
  }
  .cpb-bot {
    /* left:0; */
    bottom: 0;
    width: 100%;
    height: 30px;
  }
  .cpb-left {
    z-index: 1;
  }
  .cpb-right {
    left: 0;
    height: 100%;
    width: 50px;
  }
  .cpb-mid {
    padding: 50px;
  }
  .drawer,
  .boy {
    border: 1px solid transparent;
  }
  /* .game{
    
  } */
}
