$drawer-width : 1000px;

/*!drawer */
.drawer {
  border-right: none;
  grid-area: l;
  flex-direction: row-reverse;
}

/**just wood */
.fix-part {
  width: 70px;
  height: 620px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  position: relative;
  z-index: 3;
  background: url(../../img/drawer-wood.jpg) center/cover;
  ;
}

/**musics */
.content-part {
  width: 540px;
  height: 580px;
  position: relative;
  border-radius: 20px;
  transition: all 1s ease;
}

/**borders*/
.content-part-border {
  border: 1px solid black;
  display: flex;
}

.cpb-top {
  width: 50px;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 2;
  transition: all 1s ease;
}

.cpb-left {
  width: $drawer-width;
  height: 50px;
  position: absolute;
  top: 0px;
  z-index: 1;
}

.cpb-right {
  width: $drawer-width;
  height: 50px;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}

.cpb-bot {
  width: 30px;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}

.cpb-bg {
  background: url(../../img/drawer-wood.jpg) center/cover;
  ;
  border-radius: 5px;
}

/*!Cards*/
.cpb-mid {
  display: flex;
  flex-wrap: wrap;
  width: $drawer-width;
  height: 580px;
  border-radius: 5px;
  padding: 50px 50px 50px 25px;
  background: hsl(27, 22%, 92%);
}

@media screen and (max-width: 1279px) {
  .cpb-mid {
    height: $drawer-width;
    width: 540px;
    transform: translateY(-45%);
    transition: all 1s ease;
    flex-direction: column-reverse;
  }

  .cpb-right {
    z-index: 1;
  }

  .content-part {
    overflow: hidden;
  }

  .cpb-left {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

}

/**Card*/
.card {
  background: linear-gradient(180deg, rgb(153, 153, 255) 0%, rgb(128, 128, 255) 50%, rgb(136, 136, 255) 85%, rgb(153, 153, 255) 100%);
  width: 190px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  transition: transform 1s ease;
  box-shadow: 0 0 3px 3px hsl(0, 0%, 25%);

  &:hover,
  &.card-active {
    background: lightgray;
    transform: scale(1.01);
    cursor: pointer;
  }
}

.card-top {
  height: 15%;
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 5px;
}

.ct {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  & p {
    border: 1px solid black;

  }
}

.ct-left {
  width: 10%;
  height: 100%;
}

.ct-mid {
  width: 80%;
  height: 100%;
  background: linear-gradient(to bottom, hsl(0, 0%, 80%), hsl(0, 0%, 50%));
}

.ct-right {
  width: 10%;
  height: 100%;
}

.card-mid {
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url(./img/img-cards/conso.jpg) center/cover;

  & p {
    text-align: center;
    width: 100%;
    color: white;
    background: hsla(0, 0%, 0%, 0.75);

    & span {
      margin-right: 2px;
    }
  }
}

.card-bot {
  height: 15%;
  width: 100%;
}

.play-card {
  position: relative;
  transform: translate(3px) scale(1.5);
}

.play-white {
  position: absolute;
  color: white;
  transform: translateX(0px) scale(0.8);
}