
#tstp-canvas{
    border: 1px solid black;
    width: 400px;
    height: 130px;
    // background: black;
}
.player{
    margin-bottom: 50px;
    justify-content: space-around;
    position: relative;
}
#timePassed{
    position: absolute;
    bottom: 60px;
    right: 0;
    width: 405px;
}
#time-waves{
    position: relative;
}
.grey-time{
    position: absolute;
    left: 0;
    top:0;
    height: 98%;
    width: 0;
    background-color: hsla(150, 10%, 50%, 0.2);
}

@media screen and (max-width:1279px) {
    // #timePassed{
    //     right: 8px;
    // }
    #cardsChoice{
        transform: translate(445px, -450px) rotateZ(90deg);
        width: 1000px;
    }
}